/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
 *{
 
  
 }
select.ui.dropdown {
  color:black;
  font-weight: bold;
  
}

.backgroundColor {
  padding: 10px;
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  padding:100px;
  gap:10px;
  align-items: space-evenly;
}
 .icon.ambulance{
  color: pink;
 }
.icon.heartbeat {
  color: red;
  padding: 3px;
}
.icon.lightning{
  color:yellow
}
.icon.shield{
  color: rgb(6, 218, 255);

}
.extra.content{
  color:grey
}

body{
  background-color:black;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 700;
  font-size: 2em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
  
}

.ui.centered.cards {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  gap: 10px; /* Adds space between the columns */
}

.ui.card>.extra, .ui.cards>.card>.extra {
  font-weight: bold;
  color: white;
  background-color: rgb(54, 57, 58);
  font-size: 1.4em;

}

h1:first-child{
  font-size: 3rem; 
  font-weight: bold; 
  color: #333; 
  text-transform: uppercase; 
  letter-spacing: 2px; /* Spacing between letters */
  text-align: center; /* Centered text */
  padding: 10px; /* Padding inside the heading */
  background-color: #f4f4f4; 
  display:inline ;
  border-radius: 50px; /* Makes the corners rounded */
  
  /* display : inline wraps the border around the h1 only not the entire div box */
}